In [1]:
import dask.array as da
import numpy as np
import pandas as pd
import polars as pl

In [2]:
# Создание Series из списка
s = pd.Series([1, 3, 5, 7, 9])
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [3]:
# Создание DataFrame из словаря
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 35, 24, 40]}
df = pd.DataFrame(data)
df

    Name  Age
0   John   28
1   Anna   35
2  Peter   24
3  Linda   40

In [4]:
df = pd.read_csv('pokemon.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
df = pd.read_csv('pokemon.csv', index_col=1)
df

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,4,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,5,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,796,Rock,Fairy,50,100,150,100,150,50,6,True
Mega Diancie,797,Rock,Fairy,50,160,110,160,110,110,6,True
Hoopa Confined,798,Psychic,Ghost,80,110,60,150,130,70,6,True
Hoopa Unbound,799,Psychic,Dark,80,160,60,170,130,80,6,True
Volcanion,800,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
df = pd.read_csv('pokemon.csv', index_col=1, na_values='Fire')
df

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,4,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,5,NaN,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,796,Rock,Fairy,50,100,150,100,150,50,6,True
Mega Diancie,797,Rock,Fairy,50,160,110,160,110,110,6,True
Hoopa Confined,798,Psychic,Ghost,80,110,60,150,130,70,6,True
Hoopa Unbound,799,Psychic,Dark,80,160,60,170,130,80,6,True
Volcanion,800,NaN,Water,80,110,120,130,90,70,6,True

In [7]:
df = pd.read_excel('Earlwood_Air_Data_17_18.xls')
df

,Date,Time,EARLWOOD WDR 1h average [°],EARLWOOD TEMP 1h average [°C],EARLWOOD WSP 1h average [m/s],EARLWOOD NO 1h average [pphm],EARLWOOD NO2 1h average [pphm],EARLWOOD CO 1h average [ppm],EARLWOOD OZONE 1h average [pphm],EARLWOOD OZONE 4h rolling average [pphm],EARLWOOD PM10 1h average [µg/m³],EARLWOOD PM2.5 1h average [µg/m³],EARLWOOD HUMID 1h average [%],EARLWOOD SD1 1h average [°],EARLWOOD CO 8h rolling average [ppm]
0,01/01/2017,01:00,152.3,22.6,0.4,0.0,0.4,NaN,2.0,2.1,23.6,7.0,87.2,49.01,NaN
1,01/01/2017,02:00,134.0,22.6,0.3,NaN,NaN,NaN,NaN,2.2,21.0,6.6,87.2,46.56,NaN
2,01/01/2017,03:00,132.2,22.6,0.3,0.0,0.6,NaN,1.7,2.0,20.0,7.2,87.0,47.40,NaN
3,01/01/2017,04:00,125.8,22.7,0.2,0.0,0.5,NaN,1.7,1.8,21.4,7.1,87.2,53.70,NaN
4,01/01/2017,05:00,107.9,22.8,0.6,0.0,0.3,NaN,2.1,1.8,21.5,4.3,86.8,41.65,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,01/01/2018,20:00,164.8,23.0,0.9,0.0,0.2,NaN,2.9,2.8,23.7,8.5,78.6,48.50,NaN
8780,01/01/2018,21:00,181.5,22.8,1.0,0.0,0.1,NaN,2.9,2.9,18.6,10.8,78.1,44.08,NaN
8781,01/01/2018,22:00,197.8,22.9,1.1,0.0,0.1,NaN,3.0,2.9,14.4,8.2,76.0,38.30,NaN
8782,01/01/2018,23:00,201.4,22.6,1.1,0.0,0.1,NaN,3.0,3.0,13.5,5.5,75.3,37.33,NaN
8783,01/01/2018,24:00,191.3,21.7,0.3,0.0,0.1,NaN,2.7,2.9,13.5,2.6,79.2,64.66,NaN

In [8]:
table_GDP = pd.read_html('https://en.wikipedia.org/wiki/Economy_of_the_United_States', match='Real GDP')
df_GDP = table_GDP[0]
df_GDP

  No. Country/Economy  Real GDP    Agri.    Indus.     Serv.
0   –           World  60093221  1968215  16453140  38396695
1   1   United States  15160104   149023   3042332  11518980

In [9]:
df = pd.read_csv('pokemon.csv', index_col=1)
df

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,4,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,5,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,796,Rock,Fairy,50,100,150,100,150,50,6,True
Mega Diancie,797,Rock,Fairy,50,160,110,160,110,110,6,True
Hoopa Confined,798,Psychic,Ghost,80,110,60,150,130,70,6,True
Hoopa Unbound,799,Psychic,Dark,80,160,60,170,130,80,6,True
Volcanion,800,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
df.sort_index()

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Abomasnow,511,Grass,Ice,90,92,75,92,85,60,4,False
Abra,69,Psychic,NaN,25,20,15,105,55,90,1,False
Absol,393,Dark,NaN,65,130,60,75,60,75,3,False
Accelgor,679,Bug,NaN,80,70,40,100,60,145,5,False
Aegislash Blade Forme,751,Steel,Ghost,60,150,50,150,50,60,6,False
...,...,...,...,...,...,...,...,...,...,...,...
Zorua,632,Dark,NaN,40,65,40,80,40,65,5,False
Zubat,47,Poison,Flying,40,45,35,30,40,55,1,False
Zweilous,696,Dark,Dragon,72,85,70,65,70,58,5,False
Zygarde Half Forme,795,Dragon,Ground,108,100,121,81,95,95,6,True
NaN,63,Fighting,NaN,65,105,60,60,70,95,1,False

In [11]:
df.sort_values('Attack', key=lambda x: x % 10)

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Sealeo,400,Ice,Water,90,60,70,75,70,45,3,False
Snorunt,396,Ice,NaN,50,50,50,50,50,50,3,False
Mega Absol,394,Dark,NaN,65,150,60,115,60,115,3,False
Absol,393,Dark,NaN,65,130,60,75,60,75,3,False
Chimecho,392,Psychic,NaN,65,50,70,95,80,65,3,False
...,...,...,...,...,...,...,...,...,...,...,...
Delphox,724,Fire,Psychic,75,69,72,114,100,104,6,False
Amaura,769,Rock,Ice,77,59,50,67,63,46,6,False
Tyrunt,767,Rock,Dragon,58,89,77,45,45,48,6,False
Wormadam Trash Cloak,461,Bug,Steel,60,69,95,69,95,36,4,False
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False

In [12]:
df.isnull()

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,False,False,False,False,False,False,False,False,False,False,False
Ivysaur,False,False,False,False,False,False,False,False,False,False,False
Venusaur,False,False,False,False,False,False,False,False,False,False,False
Mega Venusaur,False,False,False,False,False,False,False,False,False,False,False
Charmander,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,False,False,False,False,False,False,False,False,False,False,False
Mega Diancie,False,False,False,False,False,False,False,False,False,False,False
Hoopa Confined,False,False,False,False,False,False,False,False,False,False,False
Hoopa Unbound,False,False,False,False,False,False,False,False,False,False,False
Volcanion,False,False,False,False,False,False,False,False,False,False,False

In [13]:
df[df['Type 2'].notna()]

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,4,Grass,Poison,80,100,123,122,120,80,1,False
Charizard,7,Fire,Flying,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,796,Rock,Fairy,50,100,150,100,150,50,6,True
Mega Diancie,797,Rock,Fairy,50,160,110,160,110,110,6,True
Hoopa Confined,798,Psychic,Ghost,80,110,60,150,130,70,6,True
Hoopa Unbound,799,Psychic,Dark,80,160,60,170,130,80,6,True
Volcanion,800,Fire,Water,80,110,120,130,90,70,6,True

In [14]:
df.reset_index(inplace=True)
df

,Name,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,4,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,5,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,796,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,797,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,798,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,799,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,800,Fire,Water,80,110,120,130,90,70,6,True

In [15]:
df['Attack per minute'] = df['Attack'] * df['Sp. Atk']

In [16]:
df['Attack per minute_2'] = df.apply(lambda row: row['Attack'] * row['Sp. Atk'], axis=1)
df

,Name,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack per minute,Attack per minute_2
0,Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False,3185,3185
1,Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False,4960,4960
2,Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False,8200,8200
3,Mega Venusaur,4,Grass,Poison,80,100,123,122,120,80,1,False,12200,12200
4,Charmander,5,Fire,NaN,39,52,43,60,50,65,1,False,3120,3120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,796,Rock,Fairy,50,100,150,100,150,50,6,True,10000,10000
796,Mega Diancie,797,Rock,Fairy,50,160,110,160,110,110,6,True,25600,25600
797,Hoopa Confined,798,Psychic,Ghost,80,110,60,150,130,70,6,True,16500,16500
798,Hoopa Unbound,799,Psychic,Dark,80,160,60,170,130,80,6,True,27200,27200
799,Volcanion,800,Fire,Water,80,110,120,130,90,70,6,True,14300,14300

In [17]:
df.groupby(['Type 1', 'Type 2']).agg({'Attack per minute': 'mean', 'Name': 'count'}).rename(
    columns={'Attack per minute': 'mean attack', 'Name': 'count pokemon'})

                 mean attack  count pokemon
Type 1 Type 2
Bug    Electric  5074.000000              2
       Fighting  6200.000000              2
       Fire      6175.000000              2
       Flying    5264.785714             14
       Ghost     2700.000000              1
...                      ...            ...
Water  Ice       6733.333333              3
       Poison    4275.000000              3
       Psychic   6970.000000              5
       Rock      5180.750000              4
       Steel     9546.000000              1

[136 rows x 2 columns]

In [53]:
# Создание DataFrame с пропущенными значениями
data = {'A': [1, 2, np.nan, 4, 4],
        'B': [5, np.nan, 7, 8, 8]}
df = pd.DataFrame(data)

# Заполнение пропущенных значений средним значением
df_filled = df.fillna(df.mean())

# Удаление строк с пропущенными значениями
df_dropped = df.dropna()

# Обнаружение и удаление дубликатов
df_no_duplicates = df.drop_duplicates()

# Обработка выбросов
Q1 = df['A'].quantile(0.25)
Q3 = df['A'].quantile(0.75)
IQR = Q3 - Q1
df_no_outliers = df[(df['A'] > Q1 - 1.5 * IQR) & (df['A'] < Q3 + 1.5 * IQR)]

In [19]:
df

     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  7.0
3  4.0  8.0
4  4.0  8.0

In [20]:
df_filled

      A    B
0  1.00  5.0
1  2.00  7.0
2  2.75  7.0
3  4.00  8.0
4  4.00  8.0

In [21]:
df_dropped

     A    B
0  1.0  5.0
3  4.0  8.0
4  4.0  8.0

In [54]:
df.dropna(subset=['A'])

     A    B
0  1.0  5.0
1  2.0  NaN
3  4.0  8.0
4  4.0  8.0

In [22]:
df_no_duplicates

     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  7.0
3  4.0  8.0

In [23]:
df_no_outliers

     A    B
0  1.0  5.0
1  2.0  NaN
3  4.0  8.0
4  4.0  8.0

In [24]:
# Создание DataFrame с большим количеством данных
df = pd.DataFrame({'A': range(1000000), 'B': range(1000000)})

In [25]:
%%timeit
# Использование векторизованных операций для вычисления нового столбца
df['C'] = df['A'] + df['B']

6.45 ms ± 2.02 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [26]:
%%timeit
# Использование метода apply с функцией lambda
df['D'] = df['C'].apply(lambda x: x * 2)

260 ms ± 18.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [27]:
%%timeit
# Оптимизированное использование метода apply с векторизованными операциями
df['E'] = df['C'] * 2

3.77 ms ± 161 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [55]:
# Создание Dask массива
arr = da.random.random((100000, 100000), chunks=(1000, 1000))

In [56]:
# Создание Dask массива
arr = da.random.random((10000, 10000), chunks=(1000, 1000))

In [57]:
# Создание Numpy массива
arr_2 = np.random.random((100000, 100000))

MemoryError: Unable to allocate 74.5 GiB for an array with shape (100000, 100000) and data type float64

In [2]:
# Создание Numpy массива
arr_2 = np.random.random((10000, 10000))

In [32]:
result = arr.mean(axis=0).compute()
result

array([0.50100887, 0.50397731, 0.50021858, ..., 0.49673553, 0.50017029,
       0.49837129])

In [33]:
result_2 = arr_2.mean(axis=0)
result_2

array([0.491588  , 0.50316601, 0.5005972 , ..., 0.50096286, 0.49692722,
       0.49483462])

In [3]:
df_p = pl.DataFrame(arr_2)

In [4]:
df = pd.DataFrame(arr_2)

In [5]:
%%timeit
df_p_filtered = df_p.filter(df_p['column_955'] > 0.3)

65.9 ms ± 6.71 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [6]:
%%timeit
df_filtered = df.filter(df[955] > 0.3)

492 µs ± 60.8 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [7]:
%%timeit
df_p_sorted = df_p.sort('column_1000')

89.2 ms ± 8.19 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [8]:
%%timeit
df_sorted = df.sort_values(1000)

191 ms ± 10.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)